<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<!-- <p>
  <strong>Url:</strong>
  <%= @article.url %>
</p> -->

<p>
  <strong>Subreddit:</strong>
  <%= @article.subreddit %>
</p>
