<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_for(@submission, url: subreddit_submissions_path(params[:subreddit_id])) do |f| %>
      <%= render "shared/errors", object: f.object %>

      <%= f.label :title, class: "control-label" %>
      <%= f.text_field :title, class: "form-control" %>

      <%= f.fields_for(@link) do |builder| %>
        <%= builder.label :url, class: "control-label" %>
        <%= builder.text_field :url, class: "form-control" %>
      <% end %>

      <%= f.submit "Post", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
