<% provide(:title, "r/#{@subreddit.name}") %>
<div class="row">
  <aside class="col-md-2">
    <section id="subreddit_info">
      <h1>r/<%= @subreddit.name %></h1>
      <h3><%= @subreddit.subscriptions.count %> subscribers</h3>
      <br>
      <%= link_to "New post", new_subreddit_submission_path(@subreddit), class: "btn btn-primary" %>
    </section>
  </aside>
  <aside class="col-md-10">
    <section id="subreddit_posts">
      <h1>Submissions to r/<%= @subreddit.name %></h1>
      <section class="submissions">
        <%= render @submissions %>
      </section>
      <%= will_paginate @submissions %>
    </section>
  </aside>
</div>
